html, div{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    
}

body{
    background-color: white;
    /* background: url(rak.jpg) no-repeat; */
    background-size: 100%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.board{
    position: absolute;
    left: 50px;
    top: 50px;
}

.year_table{
    border:solid blueviolet 2px;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 1302px;
    border-radius: 15px 15px 0 0;
}

.minimize{
    border-radius: 15px;
}



.year_head{
    height: 30px;
    text-align: center;
    font-size: 25px;
    color: blueviolet;
    font-weight: bold;
    display: flex;

}

.year_minimize{
    width: 10%;
    font-size: 15px;
    text-align: left;
    padding: 2px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.year_number{
    width: 80%
}

.month_table{
    background-color: #1e5bab;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 5px 5px ;
    border-right:solid 1px;
    border-color: #1e5bab;  
    display: table; 
}

.row{
    display: flex;
}

.cell{
    background-color: rgb(255, 247, 232);
    width: 30px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin-left: 1px;
    margin-bottom: 1px;

}

.player_name{
    background-color: rgb(255, 247, 232);
    width: 120px;
    height: 28px;
    font-size: 20px;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    display: flex;
}

.player_name_head{
    margin: auto;
    cursor: pointer;
}

.player_name_container{
    margin-top: 5px;
    cursor: pointer;
}


.wr{
    background-color: rgb(255, 247, 232);
    width: 90px;
    height: 28px;
    font-size: 20px;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    display: flex;
}

.wr_container{
    margin: auto;
}



.border_left{
    border-left: solid 1px #1e5bab;
}

.border_right{
    border-right: solid 1px #1e5bab;
}

.border_bottom{
    border-bottom: solid 1px #1e5bab;
}


.month_head{
    height: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.win{
    color: darkgreen;
    margin: auto;
}

.loose{
    color: red;
    margin: auto;
}

.day_number{
    margin: auto;
}

.not_calc{
    color: darkgrey;
}

.minimize .month_table{
    display: none;
}