html, div{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    
}

body{
    background-color: white;
    background: url(rak.jpg) no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.board{
    position: absolute;
    left: 100px;
    margin-bottom: 50px;
}

.table{
    background-color: green;
    margin-top: 30px;
    box-shadow: 5px 5px ;
    border-right:solid 1px;
    border-color: green;  
    display: table; 
}

.row{
    display: flex;
}

.cell{
    background-color: rgb(255, 247, 232);
    width: 30px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin-left: 1px;
    margin-bottom: 1px;

}

.player_name{
    background-color: rgb(255, 247, 232);
    width: 120px;
    height: 28px;
    font-size: 20px;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    display: flex;
}

.pn{
    margin-top: auto;
}

.wr{
    background-color: rgb(255, 247, 232);
    width: 90px;
    height: 28px;
    font-size: 20px;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    display: flex;
}

.head{
    text-align: center;
    font-size: 20px;
    color: white;
}

.win{
    color: darkgreen;
    margin: auto;
}

.lose{
    color: red;
    margin: auto;
}

.dt{
    margin: auto;
}